[package]
name = "yogamat"
version = "0.1.0"
edition = "2021"

resolver="2"

[profile.dev.package."*"]
opt-level = 3

[profile.wasm-release]
inherits = "release"
opt-level = "z" 
lto = "fat"
codegen-units = 1

[lib]
name = "yogamat_wasm"
crate-type = ["cdylib", "rlib"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
bevy = { version = "0.9.1", features = ["dynamic"] }
rusqlite = "0.28.0"

[dependencies]
fuzzy-matcher = "0.3.7"
bevy = { version = "0.9.1" }
bevy_mod_picking = "0.11.0"
bevy-inspector-egui = "0.17.0"
bincode = "1.3.3"
serde = "1.0.152"
bevy_egui = "0.19.0"
# bevy_transform_gizmo = { path = "../../../../extern/my_bevy_transform_gizmo", version = "0.5.0" }
bevy_transform_gizmo = { git = "https://github.com/woodroww/my_bevy_transform_gizmo" }
wasm-bindgen = "0.2.84"

